<div class="span6">
    <a href="/#/articles/add" ng-click="$location.path('/users/add')" class="btn btn-default">create new article</a>
    <table ng-init="list()" class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Title</th>
            <th style="min-width: 80px;">Last name</th>
            <th style="min-width: 80px;">Email</th>
            <th style="width:20px;"> </th>
            <th style="width:20px;"> </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-hide="articles.length">
            <td colspan="5"> Data Artikel tidak ada </td>
        </tr>
        <tr ng-show="articles.length" ng-repeat="article in articles">
            <td>{{ article.title }}</td>
            <td><a href="/#/articles/{{ article.id }}/edit" class="btn btn-small btn-primary">
                edit</a>
            </td>
            <td><a ng-click="destroy(article.id)" class="btn btn-small btn-danger">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>