<div class="form-group" ng-class="{'has-error' : submitted && userForm.first_name.$invalid}">
    <label class="control-label col-md-3">First name <span class="required">* </span> </label>
    <div class="col-md-4">
        <input type="text" name="first_name" class="form-control" ng-model="user.first_name" required placeholder="first name"/>
    </div>
    <p ng-show=" submitted && userForm.first_name.$invalid" class="help-block">First name is required.</p>
</div>

<div class="form-group" ng-class="{'has-error' : submitted && userForm.last_name.$invalid}">
    <label class="control-label col-md-3">Last name <span class="required">* </span> </label>
    <div class="col-md-4">
        <input type="text" name="last_name" class="form-control" ng-model="user.last_name" required placeholder="last name"/>
    </div>
    <p ng-show=" submitted && userForm.last_name.$invalid" class="help-block">Last name is required.</p>
</div>

<div class="form-group" ng-class="{'has-error' : submitted && userForm.email.$invalid}">
    <label class="control-label col-md-3">Email <span class="required">* </span> </label>
    <div class="col-md-4">
        <input type="email" name="email" class="form-control" ng-model="user.email" required placeholder="test@example.com"/>
    </div>
    <p ng-show="submitted && userForm.email.$error.required" class="help-block">Email is required.</p>
    <p ng-show="submitted && userForm.email.$error.email" class="help-block">Enter valid email</p>
</div>

<div class="form-group" ng-class="{'has-error': submitted && userForm.password.$invalid }">
    <label class="control-label col-md-3">Password </label>
    <div class="col-md-4">
        <input type="password" name="password" class="form-control" ng-model="user.password" required placeholder=""/>
    </div>
    <p ng-show="submitted && userForm.password.$invalid" class="help-block">Password is required.</p>
</div>

<div class="form-group" ng-class="{'has-error': userForm.confirm_password.$error.match }">
    <label class="control-label col-md-3">Confirm Password </label>
    <div class="col-md-4">
        <input type="password" name="confirm_password" class="form-control" ng-model="user.password_confirmation" data-match="user.password"/>
    </div>
    <p ng-show="userForm.confirm_password.$error.match" class="help-block">Password is not match.</p>
</div>

<div class="form-group">
    <div class="pull-left">
        <a ng-click="cancel()" class="btn btn-default">cancel</a>
        <button type="submit" class="btn btn-primary" ng-click="submitted=true">Submit</button>
    </div>
</div>