<div class="col-md-10">
    <form class="tab-pane active form-horizontal" id="first" name="userForm" novalidate ng-init="new()" ng-submit="create()">
        <h3 class="block">Add new user</h3>
        <div ng-include src="'users/_form.html'"></div>
    </form>
</div>