<div class="span6">
    <table ng-init="list()" class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">First name</th>
            <th style="min-width: 80px;">Last name</th>
            <th style="min-width: 80px;">Email</th>
            <th style="width:20px;"> </th>
            <th style="width:20px;"> </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-hide="users.length">
            <td colspan="5"> Data Users tidak ada </td>
        </tr>
        <tr ng-show="users.length" ng-repeat="user in users">
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td><a href="/#/users/{{ user.id }}/edit" ng-click="editUser(user.id)" class="btn btn-small btn-primary">
                edit</a>
            </td>
            <td><a ng-click="delete(user.id)" class="btn btn-small btn-danger">delete</a></td>
        </tr>
        </tbody>
    </table>
    <a href="/#/users/add" ng-click="$location.path('/users/add')" class="btn btn-default">create new user</a>
</div>